.lmj-banner{
    height: 220px;
    margin-bottom: 40px;
}
.lmj-banner img {
    width: 100%;
    height: 220px;
    border-radius: 25px;
    filter: opacity(0.20);
    filter: brightness(50%);
}
.lmj-banner h1 {
    position: relative;
    bottom: 70%;
    color: white;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    text-align: center;
}

@media (max-width: 480px) {
    .box {
            margin: 10px;
        }
.lmj-banner h1 {
font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    bottom: 75%;
}
.lmj-banner  {
    height: 120px;
}
.lmj-banner img {
    height: 120px;
    border-radius: 10px;
}
}