
.Top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80% ;
    
}
.texte{z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    background: rgba(255, 96, 96, 1);
    border-radius: 5px;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
.texte p{
padding: 0 10px 0 10px;
}
.content{z-index: 1;
    background: rgba(246, 246, 246, 0.45);
    border-radius:  5px 5px 10px 10px;
    margin:  -74px 0 20px 0;
    padding-top: 54px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}
.content ul {
    padding: 20px;
}
.content {

    animation-duration: 4s;
        animation-name: slide;
}

@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 480px) {
    .Top-bar{
        margin: 0 10px 0 10px;
        width: 100%;
    }
 .texte {
     font-size: 18px;
     height: 30px;
     margin: 10px 0 10px 0;
 }
 }