.lmj-header {
    position: relative;
    padding: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.lmj-header a {
    color: black;
    padding: 10px;
}

.lmj-header div {
    display: flex;
    flex-direction: row;
    color: black;
}

